# Python virtual environment
.venv/
venv/
ENV/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# IDE/Editor specific files
.idea/
.vscode/
*.swp
*.swo

# Environment variables file
.env

# Build artifacts
build/
dist/
*.egg-info/
downloads/
htmlcov/
*.log
.pytest_cache/
.tox/
.coverage
.cache

# OS-specific
.DS_Store
Thumbs.db
